<li>
  <%= gravatar_for user, size:52 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
      | <%= link_to "delete", user, method: :delete,data: {confirm:"You sure?"} %>
  <% end %>
  <span class="user_stats">
   <%= link_to pluralize(user.microposts.size,"Micropost"),user %>
  | <%= link_to pluralize(user.followers.size,"Follower"),followers_user_path(user) %>
  | <%= link_to pluralize(user.followed_users.size,"Following"),following_user_path(user) %>
  </span>
</li>