<% provide(:title,@title) %>

<div class="row">
  <aside class="span4">
      <%= render "shared/user_info" %>
  </aside>
  <div class="span8">
    <h3><%= @title %></h3>
    <% if @followers.any? %>
        <%= will_paginate @followers %>
        <ul class="users">
          <%= render @followers %>
        </ul>
        <%= will_paginate @followers %>
    <% end %>
  </div>
</div>