<% provide(:title,@title) %>
<div class="row">
  <aside class="span4">
    <%= render "shared/user_info" %>
  </aside>


  <div class="span8">
    <h3><%= @title %></h3>
    <% if @followed_users.any? %>
        <%= will_paginate @followed_users %>
        <ul class="users" >
          <%= render @followed_users %>
        </ul>
        <%= will_paginate @followed_users %>
    <% end %>
  </div>
</div>