<% provide(:title,@user.name)  %>
<!--<%= @user.name %>,<%= @user.email %>-->

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%=  @user.name %>
      </h1>
      <p><%= @user.email %></p>
    </section>
    <%= render "shared/stats", user: @user %>
  </aside>
  <div class="span8">
    <% unless current_user.nil? %>
        <div id="follow_form">
        <% if signed_in? %>
            <%= render "users/follow_form" %>
        <% end %>
        </div>
    <% end %>
      <% if @user.microposts.any? %>
            <h3>Microposts (<%= @user.microposts.count %>)</h3>
            <%= will_paginate @microposts %>
            <ol class="microposts" >
                <%= render @microposts %>
            </ol>
            <%= will_paginate @microposts %>
      <% end %>
  </div>
</div>